html {
  box-sizing: border-box;
  font-size: 16px;
  -ms-overflow-style: scrollbar;
  /* -webkit-tap-highlight-color: transparent; */
}

body {
  --accent-bg: #774e72;
  --accent-text: #ffcccc;
  --main-bg: #fdf3f3;
  --main-text: #100954;
  --accent-effect: #fd4f57;
  font-family: 'Montserrat', Arial, Helvetica, sans-serif;
  font-weight: 400;
  margin: 0;
  background-image: url('old-mic.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  background-position: top;
  height: 100vh;
}

/* links */
a {
  text-decoration: none;
}

label {
  display: block;
}

#app {
  height: 100%;
  display: flex;
  flex-direction: column;
}

h2 {
  font-weight: 500;
  font-size: 20px;
}

h1 {
  font-family: 'Caveat';
  color: #ffcccc;
  font-weight: 100;
  font-size: 80px;
  text-transform: none;
  /* animation-name: example;
  animation-iteration-count: infinite;
  animation-duration: 1s; */
}

/* @keyframes example {
  from {
    color: #b19cd9;
  }
  to {
    color: #e74c3c;
  }
} */

/* nav bar */
nav {
  border-bottom: 1px solid #796276;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 2rem 0 2rem;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  background-image: url('navbar.jpg');
  background-position: top;
  background-size: cover;
}

nav a {
  margin: 1em;
  text-decoration: none;
  color: var(--accent-text);
  font-size: 20px;
  text-decoration: none;
  text-align: center;
  padding: 5px 0 3px 0;
  position: relative;
  transition: all 0.3s ease;
}

nav a::before {
  content: '';
  transition: all 0.4s ease-in-out;
  position: absolute;
  right: 50%;
  left: 50%;
  bottom: 0;
  height: 2px;
  background-color: var(--accent-effect);
}

nav a:hover::before {
  right: 0;
  left: 0;
}

/*  wrapper  */
.wrapper {
  height: 100%;
  padding-left: 10rem;
  padding-right: 10rem;
}

/* home page */
.main {
  padding-top: 5rem;
}

.main button {
  margin-left: 1rem;
}
/* need to come back  */
.button {
  font-size: 1.5rem;
  color: var(--accent-text);
  border: 1px solid var(--accent-text);
  background-color: rgba(0, 0, 0, 0.3);
  /* padding: 0.5%; */
}

.draw-options-container {
  background-color: var(--main-bg);
  overflow-y: scroll;
  margin-bottom: 4rem;
  padding: 1rem 5rem 1rem 5rem;
}
.draw-options-inner img {
  width: 250px;
  margin: 2rem;
  display: block;
}
.darw-options-palette {
  margin: 2rem;
  width: 300px;
}
.negative-margin {
  margin-top: -50px;
}
.draw-options-inner {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  flex-grow: 1;
  /* padding: 1rem 5rem 1rem 5rem; */
}

.draw-options-inner input {
  display: none;
}
.draw-options-inner__title {
  font-family: 'Caveat';
  color: var(--accent-bg);
  font-weight: 100;
  font-size: 80px;
  text-transform: none;
  line-height: 80px;
  padding: 2rem 0 0 3rem;
}
input[type='radio']:checked + .input-img {
  box-shadow: 0px 0px 0px 3px var(--accent-effect);
}

/* draw page */
.draw-page-container {
  display: flex;
  background-color: var(--main-bg);
  padding: 1rem;
  margin: 1rem 0 1rem 0;
  justify-content: space-around;
  align-items: center;
}

/* .right-side-draw {
  display: flex;
} */

.top-right-draw {
  display: flex;
  justify-content: space-around;
}

#current-color {
  width: 100px;
  height: 100px;
  border: 1px solid gray;
  align-self: center;
  display: flex;
  align-items: center;
}

#color-palette {
  /* display: flex;
  align-content: space-around; */
  /* align-items: flex-end; */
}

/* .draw-page-container {
  display: grid;
  grid-template-columns: 50% auto;
  grid-template-rows: 50% auto;
  grid-template-areas:
    'drawLeft currColor'
    'drawLeft colorPalette';
  flex-grow: 1;
  align-self: center;
  background-color: var(--main-bg);
  padding: 1rem;
  margin: 1rem 0 1rem 0;
}

.draw-left {
  grid-area: drawLeft;
  display: flex;
  flex-direction: column;
  align-self: center;
}

}

#color-palette {
  grid-area: colorPalette;
  color: var(--main-text);
}

#current-color {
  grid-area: currColor;
  color: var(--main-text);
  justify-self: end;
 }

#draw-left button {
  margin-right: 10px;
  font-size: 12px;
  padding: 10px 16px;
}

*/

#palette-colors {
  display: flex;
  width: 100%;
}
.palette-labels {
  display: flex;
  justify-content: space-between;
  width: 80%;
}

#palette-colors div {
  width: 2px;
  height: 150px;
}
#canvas {
  border: 1px solid #cdcdcd;
  box-shadow: 2px 3px 4px #cdcdcd;
  background-color: white;
  padding: 1rem;
  margin: 1rem 0 1rem 0;
}

/* forms for login and signup */
label {
  /* font-family: 'Raleway-SemiBold'; */
  font-size: 20px;
  color: var(--main-bg);
  line-height: 1.4;
}

input {
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: var(--main-text);
  height: 1.5rem;
  margin: 0px 0 1.5rem 0;
  padding: 5px;
  width: 95%;
}
.authform-outer-container {
  width: 25rem;
  padding: 5rem 0 0 10rem;
}

.authform-inner-container {
  padding: 2rem;
  font-size: 18px;
  font-weight: 400;
  line-height: 1.5;
  color: #212529;
  background: rgba(255, 209, 220, 0.4);
  border-radius: 8px;
  /* overflow: hidden; */
}

/* #upload-container form {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 5vw 2vw;
  width: 30%;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #212529;
  background: rgba(255, 209, 220, 0.4);
  border-radius: 10px;
} */

#form-login-button {
  font-size: 10px;
  color: #fff;
  line-height: 1.2;
  padding: 0px 20px;
  min-width: 50px;
  height: 30px;
  background-color: #333333;
  border-radius: 27px;
}
/* google button   */
.google-button img {
  width: 36px;
  padding: 10px;
}

.form-signup__text {
  font-size: 15px;
  color: var(--main-bg);
}
.center-items {
  display: flex;
  align-items: center;
  justify-content: center;
}

/* user's account page */
.account-container {
  background-color: var(--main-bg);
  overflow-y: scroll;
}

.account-details {
  display: flex;
  justify-content: space-around;
  padding: 2rem 0 2rem 0;
}

.account-history-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
  padding: 0 0 2rem 0;
}

.account-history__table {
  width: 90%;
  text-align: left;
  border-collapse: collapse;
}
thead {
  font-display: bold;
}

tr,
td,
th,
table {
  padding: 10px;
  border-bottom: 1px solid #cdcdcd;
  border-top: 1px solid #cdcdcd;
}

/* td button,
form button {
  font-size: 10px;
  color: rgb(0, 0, 238);
  line-height: 1.2;
  padding: 0px 20px;
  min-width: 50px;
  height: 30px;
  background-color: #fff;
  border-radius: 27px;
} */

.social-modal {
  position: fixed;
  width: 400px;
  height: auto;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  padding: 3vw;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  background-color: white;
  border-radius: 10px;
}

/* Modal Countdown */
.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.6);
}

.modal-main {
  position: fixed;
  background: transparent;
  width: auto;
  height: auto;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.display-block {
  display: block;
}

.display-none {
  display: none;
}

/* count-down animation */
.countdown-timer__circle circle {
  stroke-dasharray: 440px;
  stroke-dashoffset: 440px;
  stroke-linecap: butt;
  stroke-width: 7px;
  stroke: #fd4f57;
  fill: #fff;
}

.countdown-timer__circle svg {
  width: 220px;
  height: 220px;
  transform: rotateZ(-90deg);
}

.countdown-timer__text {
  position: absolute;
  top: 105px;
  left: 63px;
  width: 60px;

  font-size: 60px;
  font-weight: 600;
  /* text-align: center; */
}

@keyframes countdown-animation {
  from {
    stroke-dashoffset: 0px;
  }
  to {
    stroke-dashoffset: 440px;
  }
}

.footer {
  padding: 2%;
  text-align: center;
  background-color: transparent;
  color: var(--main-text);
}
/* buttons */
button {
  background-color: #fff;
  font-size: 16px;
  text-transform: uppercase;
  padding: 16px 30px;
  border-radius: 5px;
  text-align: center;
  border: 1px solid gray;
  outline: none;
}
.clear button {
  border: 2px solid lightskyblue;
}

button:hover {
  background-color: rgba(255, 255, 255, 0.4);
  border: 2px solid var(--accent-effect);
  box-shadow: none;
}

.clear button:hover {
  background-color: rgba(255, 255, 255, 0.4);
  border: 2px solid lightskyblue;
  box-shadow: none;
}
button a {
  text-decoration: none;
}
